<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../elements/framework/action-bar.html">
<link rel="import" href="../elements/framework/user-manager.html">
<link rel="import" href="../elements/dialogs/framework/controler.html">

<link rel="import" href="tab-content.html">

<link rel="import" href="../styles/blur.html">

<dom-module id="app-framework">
  <template>
    <style include="blur-style">
      :host {
        --app-primary-color: #396C93;
        --app-secondary-color: black;
        --app-drawer-width: 200px;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <app-drawer-layout class="blurable" fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <user-manager></user-manager>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation" style="text-align: center;">
          <a name="note-gen" href="[[rootPath]]note-gen"><iron-icon icon="create"></iron-icon> Generate</a>
          <a name="note-finder" href="[[rootPath]]note-finder"><iron-icon icon="search"></iron-icon> Search</a>
          <a name="note-history" href="[[rootPath]]note-history"><iron-icon icon="history"></iron-icon> History</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region fullbleed>

        <app-header slot="header" condenses fixed effects="waterfall">
          <app-toolbar style="background-color: #396C93;">
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <action-bar id="action"></action-bar>
          </app-toolbar>
        </app-header>

        <tab-content page="{{page}}"></tab-content>
      </app-header-layout>
    </app-drawer-layout>

    <dialog-controler class="controler"></dialog-controler>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class AppFramework extends Polymer.Element {
      static get is() {
        return 'app-framework';
      }

      ready() {
        super.ready();
        document.dispatchEvent(new CustomEvent('end-splash'));
        document.addEventListener('add-tab', e => this.noNotesOpened = false);
        document.addEventListener('close-tab', e => this.noNotesOpened = true);
        document.addEventListener('update-note', e => this.noNotesOpened = false);
      }

      static get properties() {
        return {
          note: Object,
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          noNotesOpened: {
            type: Boolean,
            value: true
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page, noNotesOpened)',
        ];
      }

      _routePageChanged(page, noNotesOpened) {
        this.page = noNotesOpened && (page == 'note-gen' || page == '') ? 'note-empty' : page == '' ? 'note-gen' : page;

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }

      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = '404-error';
      }
    }

    window.customElements.define(AppFramework.is, AppFramework);
  </script>
</dom-module>