<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="note-empty">
  <template>
    <style>
      .full {
        margin: 15px;
        width: -moz-available;
        width: -webkit-fill-available;
      }

      .large {
        height: 56vh;
        width: 100%;
      }

      .gray {
        color: var(--google-grey-500);
      }

      .center {
        text-align: center;
      }

      .inline {
        display: inline-block;
      }
    </style>

    <div class="full center">
      <iron-icon class="large gray" icon="notification:event-note"></iron-icon>
      <paper-button raised on-tap="_addTab">Create New Note</paper-button>
    </div>
  </template>

  <script>
    class NoteEmpty extends Polymer.Element {

      static get is() {
        return 'note-empty';
      }

      static get properties() {
        return {

        };
      }

      _addTab() {
        document.dispatchEvent(new CustomEvent('add-tab'));
      }
    }

    window.customElements.define(NoteEmpty.is, NoteEmpty);
  </script>
</dom-module>