<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared.html">


<link rel="import" href="../elements/isp-selector.html">
<link rel="import" href="../elements/fields/entry-fields.html">

<dom-module id="note-gen">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <isp-selector isp="{{isp}}"></isp-selector>

    <div class="card">
      <p id="greeting">{{greeting}}</p>
    </div>

    <entry-fields note={{note}}></entry-fields>
  </template>

  <script>
    class NoteGen extends Polymer.Element {
      static get is() {
        return 'note-gen';
      }

      ready() {
        super.ready();
        this.changeGreeting();
      }

      static get properties() {
        return {
          isp: {
            type: Number,
            value: 5
          },
          isps: {
            type: Object,
            value: function () {
              return {
                cl: 0,
                rise: 1,
                retail: 2,
                txo: 3,
                dps: 4,
                unknown: 5
              }
            }
          },
          greeting: String,
          greetings: {
            type: Object,
            value: function () {
              return {
                cl: "",
                rise: "",
                retail: "Thank you for calling OneSupport, this is <First-Name> speaking. Can I get your first and last name? ... What can I help you with today?",
                txo: "",
                dps: "",
                unknown: "Thank you for calling Technical Support this is <First-Name> speaking. Can I get...<see-feilds>"
              }
            }
          },
          note: Object
        };
      }

      changeGreeting() {
        switch (this.isp) {
          case this.isps.cl:
            this.greeting = this.greetings.cl;
            break;
          case this.isps.rise:
            this.greeting = this.greetings.rise;
            break;
          case this.isps.retail:
            this.greeting = this.greetings.retail;
            break;
          case this.isps.txo:
            this.greeting = this.greetings.txo;
            break;
          case this.isps.dps:
            this.greeting = this.greetings.dps;
            break;
          case this.isps.unknown:
            this.greeting = this.greetings.unknown;
            break;
        }
      }


    }

    window.customElements.define(NoteGen.is, NoteGen);
  </script>
</dom-module>