<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared.html">

<link rel="import" href="../elements/isp-selector.html">
<link rel="import" href="../elements/fields/entry-fields.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

<dom-module id="note-gen">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      #copy {
        position: fixed;
        bottom: 10px;
        right: 10px;
        --paper-fab-background: var(--paper-green-500);
        --paper-fab-keyboard-focus-background: var(--paper-green-900);
      }

      #callback {
        position: fixed;
        bottom: 75px;
        right: 10px;
      }
    </style>

    <isp-selector isp="{{isp}}"></isp-selector>

    <div class="card">
      <p id="greeting">{{greeting}}</p>
    </div>

    <entry-fields fields={{entries}} note={{note}}></entry-fields>
    <paper-fab id="copy" icon="content-copy" on-tap="showCopy"></paper-fab>
    <paper-fab id="callback" icon="alarm" on-tap=""></paper-fab>
  </template>

  <script>
    class NoteGen extends Polymer.Element {
      static get is() {
        return 'note-gen';
      }

      ready() {
        super.ready();
        this.changeGreeting();
        document.addEventListener('update-note', e => this.updateNote(e.detail.note));
      }

      updateNote(note) {
        this.note = note;
      }

      static get properties() {
        return {
          isp: {
            type: Number,
            value: 5
          },
          isps: {
            type: Object,
            value: function () {
              return {
                cl: 0,
                rise: 1,
                retail: 2,
                txo: 3,
                dps: 4,
                unknown: 5
              }
            }
          },
          greeting: String,
          greetings: {
            type: Object,
            value: function () {
              return {
                cl: "",
                rise: "",
                retail: "Thank you for calling OneSupport, this is <First-Name> speaking. Can I get your first and last name? ... What can I help you with today?",
                txo: "",
                dps: "",
                unknown: "Thank you for calling Technical Support this is <First-Name> speaking. Can I get...<see-feilds>"
              }
            }
          },
          entries: Object,
          note: {
            type: Object,
            notify: true
          }
        };
      }

      showCopy() {
        document.dispatchEvent(new CustomEvent('show-dialog-copy', {
          detail: {
            entries: this.entries
          }
        }));
      }

      changeGreeting() {
        switch (this.isp) {
          case this.isps.cl:
            this.greeting = this.greetings.cl;
            break;
          case this.isps.rise:
            this.greeting = this.greetings.rise;
            break;
          case this.isps.retail:
            this.greeting = this.greetings.retail;
            break;
          case this.isps.txo:
            this.greeting = this.greetings.txo;
            break;
          case this.isps.dps:
            this.greeting = this.greetings.dps;
            break;
          case this.isps.unknown:
            this.greeting = this.greetings.unknown;
            break;
        }
      }
    }

    window.customElements.define(NoteGen.is, NoteGen);
  </script>
</dom-module>