<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared.html">

<link rel="import" href="../elements/greeting-text.html">
<link rel="import" href="../elements/isp-selector.html">
<link rel="import" href="../elements/fields/entry-fields.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

<dom-module id="note-gen">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      #copy {
        position: fixed;
        bottom: 10px;
        right: 10px;
        --paper-fab-background: var(--paper-green-500);
        --paper-fab-keyboard-focus-background: var(--paper-green-900);
      }

      #callback {
        position: fixed;
        bottom: 75px;
        right: 10px;
      }
    </style>

    <isp-selector id="ispselect" isp="{{isp}}"></isp-selector>
    <greeting-text id="greeting" isp="{{isp}}"></greeting-text>
    <entry-fields id="fields" note={{note}}></entry-fields>

    <paper-fab id="copy" icon="content-copy" on-tap="showCopy"></paper-fab>
    <paper-fab id="callback" icon="alarm" on-tap=""></paper-fab>
  </template>

  <script>
    class NoteGen extends Polymer.Element {
      static get is() {
        return 'note-gen';
      }

      static get properties() {
        return {
          isp: {
            type: Object,
            observer: 'changeISP'
          },
          note: {
            type: Object,
            observer: 'updateISP'
          },
        };
      }

      ready() {
        super.ready();
        document.addEventListener('update-note', e => this.note = e.detail.note);
      }

      showCopy() {
        document.dispatchEvent(new CustomEvent('show-dialog-copy', {
          detail: {
            entries: this.$.fields.fields
          }
        }));
      }

      changeISP(isp) {
        if (this.note == undefined) return -1;
        this.set('note.isp', isp);
      }

      updateISP(note) {
        if (this.note == undefined || this.note == null) return -1;
        if (this.note.isp == undefined || this.note.isp == null) {
          this.$.ispselect.selected = this.$.ispselect.isps.length - 1;
          this.set('note.isp', this.$.ispselect.isp);
        } else {
          this.$.ispselect.selected = this.$.ispselect.isps.indexOf(note.isp);
        }
      }
    }

    window.customElements.define(NoteGen.is, NoteGen);
  </script>
</dom-module>