<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared.html">

<dom-module id="note-finder">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
  </template>

  <script>
    class NoteFinder extends Polymer.Element {
      static get is() {
        return 'note-finder';
      }
    }

    window.customElements.define(NoteFinder.is, NoteFinder);
  </script>
</dom-module>